body{
  margin: 0;
}
.parent{
  background: black;
  height: 200px;
  width: 500px;
}
.child{
  background: red;
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 10px;
  position: relative;
  top: calc((200px - 100px)/2);
}
