body{
  margin: 0;
}
.wrap{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.header{
  background: red;
  height: 80px;
  text-align: center;
  color: #fff;
}
.main{
  background: blue;
  height: 500px;
  text-align: center;
  color: #fff;
}
.footer{
  background: black;
  height: 80px;
  text-align: center;
  color: #fff;
}
